<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
</head>

<body>
    <div>
        <div class="form-group">
            <input class="form-control" type="text" name="userId" id="login_userId" placeholder="아이디">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" id="login_password" type="password" placeholder="Password">
        </div>
        <p><a href="/signup">회원가입</a></p>

    </div>
</body>

</html>